@use "_fonts" as font;
@use "_colors" as cor;
@use "_media" as media;
@use "_sizes" as tam;
@use "sass:color";


div.dificuldade {
    color: cor.$dark;
}

.dropdown {
    width: 170px;
    margin: 10px auto;
    align-items: center;
    position: relative;
    user-select: none;
    color: cor.$dark;
    .dropdown-btn {
        border: 0;
        padding: 15px 15px;
        background: cor.$light;
        box-shadow: 3px 3px 10px 6px cor.$dark;
        font-weight: 600;
        align-items: center ;
        justify-content: space-between;
    }
    .dropdown-content {
        position: absolute;
        top: 110%;
        padding: 10px;
        left: 0;
        background: cor.$light;
        box-shadow: 3px 3px 10px 6px cor.$dark;
        font-weight: 600;
        width: 95%;
        .nivel {
            border-style: none;
            padding: 10px;
            cursor: pointer;
            color: cor.$dark;
            &:hover {
                background: cor.$main;
                transition: all 0.3s ease-in-out;
            } 
        }
    }
}