@use "_fonts" as font;
@use "_colors" as cor;
@use "_media" as media;
@use "_sizes" as tam;
@use "sass:color";

.tabuleiro{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 30px;
  .gridWrapper {
    flex-basis: 50%;
    .infoJogo {
      @extend .tabuleiro;
    }
  }
  .listaWords-container {
    flex-basis: 25%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  #Top10 {
    @extend .listaWords-container;
  }
}

.DivGrid8,
.DivGrid10,
.DivGrid15 {
  color: cor.$light;
  display: grid;
  justify-content: center;
  .inGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 50px;
    border: 1px solid cor.$gold;
    &:hover {
      color: cor.$dark;
      background-color: cor.$light;
      transition: all 0.3s ease-in-out;
    }
  }
  .risca{
    background-color: cor.$gold;
  }
}

.DivGrid8{
    grid-template-columns: repeat(8, 50px);
}
.DivGrid10{
    grid-template-columns: repeat(10, 50px);
}
.DivGrid15 {
    grid-template-columns: repeat(15, 50px);
}
.sidemenu {
  border: 1px solid cor.$gold;
  margin-left: 30px;
  width: 100px;
  text-align: center;
  ul{
    display:contents;
    li{
      display: flex;
      flex-direction: column;
      margin-top: 9px;
    }
  }
}